@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Karla|Muli');

@import 'reset';

$font-1: 'Karla', sans-serif;
$font-2: 'Muli', sans-serif;

body{
    font-family: $font-1;
}

.font-1{
    font-family: $font-1 !important;
}
.font-2{
    font-family: $font-2 !important;
}


