@import 'compass/css3';
@import url('https://fonts.googleapis.com/css?family=Karla:700|Muli:400,700,900');

@import 'reset';

$size-factor: 1.5;

$font-1: 'Karla', sans-serif;
$font-2: 'Muli', sans-serif;

$color-primary: #5EAD5E;
$color-secondary: #E79542;
$color-font: #3B3F48;
$color-datails: #CCCCCC;
$color-gray-light: #E6E6E6;

body{
    font-size: 16px * $size-factor;
    font-family: $font-1;
}

.font-1{
    font-family: $font-1 !important;
}
.font-2{
    font-family: $font-2 !important;
}

.relative{
    position: relative;
}

.slick-track{
    height: 100%;
    .slick-slide{
        height: 100vh;
        position: relative;
    }
}

.vertical-align{
    top: 50%;
    position: relative;
    @include transform(translateY(-50%));
}

.container.full-width{
    width: 100%;
}

.btn{
    color: $color-secondary;
    background: transparent;
    @include border-radius(0);
    border: 2px solid $color-secondary;
    &.just-icon{
        border: 0;
        padding: 0;
        img{
            display: block;
        }
    }
    &:hover{
        color: $color-primary;
        border: 2px solid $color-primary;
    }
}

.cta{
    a{
        &:hover{
            opacity: 0.8;
        }
    }
}

.go-up-action{
    width: 50px;
    right: 30px;
    height: 50px;
    bottom: 30px;
    cursor: pointer;
    padding: 4px 3px;
    overflow: hidden;
    position: absolute;
    @include border-radius(50%);
    background: $color-secondary;
    img{
        display: block;
        @include transform(rotate(180deg));
    }
}

.site{
    header{
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 20px 0;
        position: absolute;
        .logo{
            height: 42px * $size-factor;
        }
        .links, .pipe, .header-menu{
            vertical-align: middle;
            display: inline-block;
        }
        .header-menu{
            span{
                font-weight: 600;
                font-family: $font-1;
                text-transform: uppercase;
                font-size: 12px * $size-factor;
            }
        }
        .links{
            ul{
                li{
                    //margin: 0 10px;
                    display: inline-block;
                    vertical-align: middle;
                    a{
                        display: block;
                        img{
                            height: 42px * $size-factor;
                        }
                    }
                }
            }
        }
        .pipe{
            width: 2px * $size-factor;
            height: 20px * $size-factor;
            margin: 0 10px;
            background: #FFF;
        }
        .header-menu{
            color: #FFF;
            span, img{
                display: inline-block;
                vertical-align: middle;
            }
            img{
                height: 42px * $size-factor;
            }
        }
    }
    .home-section{
        width: 100%;
        height: 100vh;
        background: $color-primary;
        .home-carousel{
            z-index: 2;
            height: 100%;
            position: relative;
            .carousel-card{
                height: 100%;
                .container{
                    z-index: 2;
                    height: 100vh;
                    position: relative;
                    .vertical-align{
                        width: 50%;
                        h2{
                            color: #fff;
                            font-weight: 900;
                            font-family: $font-2;
                            font-size: 50px * $size-factor;
                        }
                        .line{
                            height: 2px;
                            margin: 30px 0;
                            background: #FFF;
                            width: 70px * $size-factor;
                        }
                        p{
                            color: #FFF;
                            line-height: 140%;
                        }
                        a{
                            display: block;
                            margin-top: 10px;
                            @include transform(translateX(-10px));
                            img{
                                //height: 19px * $size-factor;
                            }
                        }
                    }
                }
                .background{
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    background: center center no-repeat;
                    background-size: cover;
                }
            }
        }
        .home-carousel-nav{
            z-index: 3;
            left: 20px;
            right: 20px;
            bottom: 70px;
            position: absolute;
            .bar-active{
                top: -3px;
                left: 1%;
                right: 1%;
                z-index: 3;
                width: 12.28%;
                position: absolute;
                @include transition(margin-left 300ms ease-in-out);
                .padding{
                    padding: 0 10%;
                    span{
                        width: 100%;
                        height: 6px;
                        display: block;
                        background: #FFF;
                    }
                }
            }
            ul{
                font-size: 0;
                border-top: 2px solid #FFF;
                li{
                    //width: 25%;
                    width: 14.28%;
                    text-align: center;
                    vertical-align: top;
                    display: inline-block;
                    span{
                        cursor: pointer;
                        color: #FFF;
                        margin: 0 auto;
                        display: block;
                        padding: 20px 0;
                        max-width: 140px;
                        position: relative;
                        font-size: 13px * $size-factor;
                    }
                }
            }
        }

        .cta-section{
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            position: absolute;
            p{
                cursor: pointer;
                text-align: center;
                img{
                    height: 36px * $size-factor;
                }
            }
        }
    }
    .home-calculator{
        position: relative;
        //background: $color-gray-light;

        .title{
            top: 75px;
            z-index: 4;
            right: 13%;
            color: #FFF;
            font-weight: 900;
            position: absolute;
            padding: 10px 15px;
            letter-spacing: 1px;
            font-family: $font-2;
            text-transform: uppercase;
            background: $color-primary;
            font-size: 38px * $size-factor;
        }
        .content{
            z-index: 2;
            width: 70%;
            position: relative;
            background: $color-gray-light;
            form{
                padding: 180px 30px 100px;
                input{
                    border: 0;
                    width: 100%;
                    padding: 10px 15px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
            &:before{
                content: '';
                width: 100%;
                height: 100%;
                left: -100%;
                position: absolute;
                background: $color-gray-light;
            }
        }
        .alt-image{
            z-index: 1;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: url("/assets/images/home/01_isaosa_img_home_productos6.jpg") top right no-repeat;
            background-size: cover;
        }
    }
    .home-sections{
        position: relative;
        overflow: hidden;
        .title{
            top: 75px;
            z-index: 4;
            left: 50%;
            margin-left: -40.7%;;
            //margin-left: -581px;
            color: #FFF;
            font-weight: 900;
            position: absolute;
            padding: 10px 15px;
            letter-spacing: 1px;
            font-family: $font-2;
            text-transform: uppercase;
            background: $color-secondary;
            font-size: 38px * $size-factor;
        }
        .content{
            z-index: 2;
            width: 70%;
            float: right;
            padding: 20px;
            position: relative;
            background: $color-secondary;
            .grid{
                overflow: hidden;
                .element{
                    width: 50%;
                    padding: 20px;
                    float: left;
                    .icon{
                        img{
                            height: 57px * $size-factor;
                            margin-bottom: 15px;
                        }
                    }
                    h3{
                        margin: 0;
                        color: #fff;
                        font-weight: 900;
                        line-height: 120%;
                        font-family: $font-2;
                        font-size: 23px * $size-factor;
                    }
                    .line{
                        height: 2px;
                        width: 100px;
                        margin: 15px 0;
                        background: #FFF;
                    }
                    p{
                        color: #fff;
                    }
                    a{
                        display: block;
                        text-align: right;
                        text-decoration: none;
                        color: #FFF;
                        span{
                            opacity: 0;
                            color: $color-font;
                            font-style: italic;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px * $size-factor;
                            @include transition(opacity 300ms ease-out);
                        }
                        img{
                            display: inline-block;
                            vertical-align: middle;
                            height: 15px * $size-factor * 2;
                        }
                        &:hover{
                            span{
                                opacity: 1;
                            }
                        }
                    }
                    &:nth-of-type(1),&:nth-of-type(3){
                        border-right: 2px solid #FFF;
                    }
                    &:nth-of-type(1),&:nth-of-type(2){
                        border-bottom: 2px solid #FFF;
                    }
                }
            }
            &:before{
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                right: -100%;
                position: absolute;
                background: $color-secondary;
            }
        }
        .alt-image{
            z-index: 1;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            position: absolute;
            background: url("/assets/images/home/02_isaosa_img_home_servicios.jpg") top left no-repeat;
            background-size: cover;
        }
    }
    .home-locations{
        .relative{
            .head{
                font-size: 0;
                padding: 50px 0 20px;
                .title{
                    font-weight: 900;
                    line-height: 100%;
                    text-align: right;
                    font-family: $font-2;
                    display: inline-block;
                    vertical-align: top;
                    color: $color-secondary;
                    text-transform: uppercase;
                    font-size: 39px * $size-factor;
                }
                .pipe{
                    width: 2px;
                    height: 170px;
                    margin: 0 45px;
                    display: inline-block;
                    vertical-align: middle;
                    background: $color-secondary;
                }
                .ul-locations{
                    display: inline-block;
                    vertical-align: middle;
                    li{
                        padding: 10px 80px 10px 0;
                        font-weight: 900;
                        color: $color-font;
                        position: relative;
                        letter-spacing: 1px;
                        font-family: $font-2;
                        text-transform: uppercase;
                        font-size: 16px * $size-factor;
                        span{
                            z-index: 2;
                            background: #FFF;
                            position: relative;
                            padding: 0 10px 0 0;
                        }
                        &.active{
                            &:after{
                                left: 0;
                                top: 50%;
                                right: 0;
                                z-index: 1;
                                content: '';
                                width: 100%;
                                height: 2px;
                                position: absolute;
                                background: $color-secondary;
                            }
                        }
                    }
                }
                .resume-block{
                    position: relative;
                    padding: 25px 15px;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px * $size-factor;
                    border: 2px solid $color-secondary;
                    .resume{
                        display: none;
                        p{
                            margin: 15px;
                            &:first-of-type{
                                margin-top: 0;
                            }
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }
                        &.active{
                            display: block;
                        }
                    }

                }
            }
            .body{
                margin-bottom: 40px;
                #map{
                    height: 400px;
                    width: 100%;
                }
            }
        }
    }
    .home-news{
        border-top: 2px solid $color-secondary;
        background: $color-gray-light;
        .head{
            position: relative;
            text-align: center;
            padding: 80px 0 30px;
            h3{
                font-weight: 900;
                padding: 15px 35px;
                font-family: $font-2;
                display: inline-block;
                text-transform: uppercase;
                font-size: 39px * $size-factor;
                border: 2px solid $color-secondary;
                &:after{
                    top: 0;
                    left: 50%;
                    width: 1px;
                    content: '';
                    height: 80px;
                    position: absolute;
                    background: $color-secondary;
                }
            }
        }
        .image-circle{
            margin: 0 auto;
            display: block;
            overflow: hidden;
            position: relative;
            width: 207px * $size-factor;
            height: 207px * $size-factor;
            @include border-radius(50%);
            background: center center no-repeat;
            background-size: cover;
            .overlay{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                position: absolute;
                background: rgba(0,0,0,0);
                @include border-radius(50%);
                @include transition(background 300ms ease-out);
                a{
                    top: 50%;
                    opacity: 0;
                    color: #FFF;
                    padding: 4%;
                    margin-top: 9%;
                    display: block;
                    font-weight: 500;
                    line-height: 150%;
                    text-align: center;
                    position: relative;
                    font-family: $font-1;
                    text-decoration: none;
                    font-size: 15px * $size-factor;
                    @include transform(translateY(-30%));
                    @include transition(all 400ms ease-out);
                }
            }
            &:hover{
                .overlay{
                    background: rgba(0,0,0, 0.65);
                    a{
                        opacity: 1;
                        @include transform(translateY(-50%));
                    }
                }
            }
        }
        .line{
            left: 0;
            right: 0;
            top: 60%;
            width: 1px;
            z-index: 3;
            margin: auto;
            height: 80px;
            position: absolute;
            background: $color-secondary;
        }
        h4{
            margin: 100px auto 0;
            display: block;
            max-width: 250px;
            font-weight: 700;
            text-align: center;
            font-family: $font-2;
            text-transform: uppercase;
            font-size: 22px * $size-factor;
        }
        .cta{
            padding: 80px 0;
            text-align: center;
            a{
                color: #FFF;
                font-weight: 700;
                padding: 10px 15px;
                letter-spacing: 1px;
                font-family: $font-2;
                display: inline-block;
                background: $color-font;
                text-transform: uppercase;
                @include border-radius(0);
                font-size: 14px * $size-factor;
            }
        }
    }
    .home-about_us{
        position: relative;
        border-top: 2px solid $color-secondary;
        padding: 100px 0 50px;
        .title{
            z-index: 4;
            position: relative;
            font-weight: 900;
            font-family: $font-2;
            color: $color-primary;
            text-transform: uppercase;
            font-size: 39px * $size-factor;
            &:before, &:after{
                top: 0;
                z-index: 4;
                width: 2px;
                left: 100px;
                content: '';
                height: 80px;
                position: absolute;
                background: $color-secondary;
            }
            &:before{
                margin-top: -100px;
            }
            &:after{
                margin-top: 80px;
                height: 50px;
            }
        }
        .image{
            top: 100px;
            width: 30%;
            bottom: 0;
            position: absolute;
            background: center center no-repeat;
            background-size: cover;
        }
        .text{
            width: 80%;
            padding: 100px 0 50px 35%;
            .text-title{
                color: #000;
                font-weight: 900;
                margin-bottom: 50px;
                font-family: $font-2;
                text-transform: uppercase;
                font-size: 20px * $size-factor;
            }
            p{
                line-height: 150%;
                color: $color-font;
                font-size: 14px * $size-factor;
            }
            .cta{
                text-align: right;
                margin-top: 20px;
                a{
                    text-decoration: none;
                    color: $color-primary
                }
                span{
                    font-weight: 900;
                    font-family: $font-2;
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-size: 12px * $size-factor;
                    &.circle{
                        overflow: hidden;
                        margin-left: 5px;
                        text-align: center;
                        background: $color-primary;
                        width: 20px * $size-factor;
                        height: 20px * $size-factor;
                        @include border-radius(50%);
                        img{
                            width: 100%;
                            @include transform(scale(1.2));
                        }
                    }
                }
            }
        }
    }
    .home-contact{
        background: $color-gray-light;
        .container{
            padding: 40px 0 80px;
            background: url("/assets/images/home/04_isaosa_img_home_contacto.png") center right no-repeat;
            background-size: auto 80%;
        }
        h4{
            text-align: center;
            span{
                z-index: 4;
                margin: 0 auto;
                padding: 40px 0;
                font-weight: 900;
                position: relative;
                text-align: center;
                color: $color-font;
                font-family: $font-2;
                display: inline-block;
                text-transform: uppercase;
                font-size: 39px * $size-factor;
                &:after{
                    left: 0;
                    bottom: 20px;
                    content: '';
                    height: 2px;
                    width: 150px;
                    position: absolute;
                    background: $color-font;
                }
            }
        }

        form{
            width: 100%;
            padding-top: 20px;
            a{
                display: block;
                line-height: 130%;
                color: $color-font;
                margin-bottom: 20px;
                text-decoration: none;
                font-size: 14px * $size-factor;
            }
            .line{
                content: '';
                height: 2px;
                width: 50px;
                margin: 10px 0 17px;
                background: $color-font;
            }
            input{
                border: 0;
                width: 100%;
                padding: 5px 10px;
                font-style: italic;
                margin-bottom: 30px;
                background: transparent;
                font-size: 14px * $size-factor;
                border-bottom: 2px solid $color-font;
            }
            textarea{
                width: 100%;
                height: 137px;
                margin-top: 16px;
                padding: 5px 10px;
                margin-bottom: 20px;
                border: 2px solid $color-font;
                background: rgba(255,255,255,0.8);
            }
        }
    }
    footer{
        color: #FFF;
        padding: 50px 0 20px;
        background: url("/assets/images/home/05_isaosa_img_home_footer.jpg") center center no-repeat;
        background-size: cover;
        form{
            color: #FFF;
            span, input, button{
                color: #FFF;
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
            }
            input{
                border: 0;
                margin: 0 5px;
                padding: 7px 10px;
            }
            button{
                img{
                    fill: #FFF;
                }
            }
        }
        .footer-logo{
            text-align: right;
            img{
                width: 50%;
            }
        }
        .last{
            font-size: 16px;
            padding: 30px 0 0;
            position: relative; 
            &:after{
                top: 0;
                left: 40%;
                width: 10%;
                height: 2px;
                content: '';
                background: #FFF;
                position: absolute;
            }
        }
    }
}

.margin-botom-0{
    margin-bottom: 0 !important;
}
.margin-botom-10{
    margin-bottom: 10 !important;
}
