@import url("https://fonts.googleapis.com/css?family=Karla|Muli:400,700,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, ../sass/main.scss */
body {
  font-size: 24px;
  font-family: "Karla", sans-serif;
}

/* line 22, ../sass/main.scss */
.font-1 {
  font-family: "Karla", sans-serif !important;
}

/* line 25, ../sass/main.scss */
.font-2 {
  font-family: "Muli", sans-serif !important;
}

/* line 29, ../sass/main.scss */
.relative {
  position: relative;
}

/* line 33, ../sass/main.scss */
.slick-track {
  height: 100%;
}
/* line 35, ../sass/main.scss */
.slick-track .slick-slide {
  height: 100vh;
  position: relative;
}

/* line 41, ../sass/main.scss */
.vertical-align {
  top: 50%;
  position: relative;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 47, ../sass/main.scss */
.container.full-width {
  width: 100%;
}

/* line 52, ../sass/main.scss */
.site header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px 0;
  position: absolute;
}
/* line 59, ../sass/main.scss */
.site header .logo {
  height: 63px;
}
/* line 62, ../sass/main.scss */
.site header .links, .site header .pipe, .site header .header-menu {
  vertical-align: middle;
  display: inline-block;
}
/* line 68, ../sass/main.scss */
.site header .links ul li {
  display: inline-block;
  vertical-align: middle;
}
/* line 72, ../sass/main.scss */
.site header .links ul li a {
  display: block;
}
/* line 74, ../sass/main.scss */
.site header .links ul li a img {
  height: 63px;
}
/* line 81, ../sass/main.scss */
.site header .pipe {
  width: 3px;
  height: 30px;
  margin: 0 10px;
  background: #FFF;
}
/* line 87, ../sass/main.scss */
.site header .header-menu {
  color: #FFF;
}
/* line 89, ../sass/main.scss */
.site header .header-menu span, .site header .header-menu img {
  display: inline-block;
  vertical-align: middle;
}
/* line 93, ../sass/main.scss */
.site header .header-menu img {
  height: 63px;
}
/* line 98, ../sass/main.scss */
.site .home-section {
  width: 100%;
  height: 100vh;
  background: #5EAD5E;
}
/* line 102, ../sass/main.scss */
.site .home-section .home-carousel {
  z-index: 2;
  height: 100%;
  position: relative;
}
/* line 106, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card {
  height: 100%;
}
/* line 108, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container {
  z-index: 2;
  height: 100vh;
  position: relative;
}
/* line 112, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container .vertical-align {
  width: 50%;
}
/* line 114, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container .vertical-align h2 {
  color: #fff;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  font-size: 75px;
}
/* line 120, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container .vertical-align .line {
  height: 2px;
  margin: 30px 0;
  background: #FFF;
  width: 105px;
}
/* line 126, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container .vertical-align p {
  color: #FFF;
}
/* line 129, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .container .vertical-align a {
  display: block;
  margin-top: 10px;
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
/* line 139, ../sass/main.scss */
.site .home-section .home-carousel .carousel-card .background {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
}
/* line 151, ../sass/main.scss */
.site .home-section .home-carousel-nav {
  z-index: 3;
  left: 20px;
  right: 20px;
  bottom: 70px;
  position: absolute;
}
/* line 157, ../sass/main.scss */
.site .home-section .home-carousel-nav .bar-active {
  top: -3px;
  left: 15px;
  right: 15px;
  z-index: 3;
  width: 25%;
  position: absolute;
}
/* line 164, ../sass/main.scss */
.site .home-section .home-carousel-nav .bar-active .padding {
  padding: 0 10%;
}
/* line 166, ../sass/main.scss */
.site .home-section .home-carousel-nav .bar-active .padding span {
  width: 100%;
  height: 6px;
  display: block;
  background: #FFF;
}
/* line 174, ../sass/main.scss */
.site .home-section .home-carousel-nav ul {
  font-size: 0;
  border-top: 2px solid #FFF;
}
/* line 177, ../sass/main.scss */
.site .home-section .home-carousel-nav ul li {
  width: 25%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}
/* line 182, ../sass/main.scss */
.site .home-section .home-carousel-nav ul li span {
  cursor: pointer;
  color: #FFF;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
  max-width: 140px;
  position: relative;
  font-size: 19.5px;
}
/* line 196, ../sass/main.scss */
.site .home-section .cta-section {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  position: absolute;
}
/* line 202, ../sass/main.scss */
.site .home-section .cta-section p {
  cursor: pointer;
  text-align: center;
}
/* line 205, ../sass/main.scss */
.site .home-section .cta-section p img {
  height: 54px;
}
/* line 211, ../sass/main.scss */
.site .home-calculator {
  position: relative;
}
/* line 215, ../sass/main.scss */
.site .home-calculator .title {
  top: 75px;
  z-index: 4;
  right: 13%;
  color: #FFF;
  font-weight: 900;
  position: absolute;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  background: #5EAD5E;
  font-size: 57px;
}
/* line 229, ../sass/main.scss */
.site .home-calculator .content {
  z-index: 2;
  width: 70%;
  position: relative;
  background: #E6E6E6;
}
/* line 234, ../sass/main.scss */
.site .home-calculator .content form {
  padding: 180px 30px 100px;
}
/* line 236, ../sass/main.scss */
.site .home-calculator .content form input {
  border: 0;
  width: 100%;
  padding: 10px 15px;
  display: block;
  margin-bottom: 20px;
}
/* line 244, ../sass/main.scss */
.site .home-calculator .content:before {
  content: '';
  width: 100%;
  height: 100%;
  left: -100%;
  position: absolute;
  background: #E6E6E6;
}
/* line 253, ../sass/main.scss */
.site .home-calculator .alt-image {
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/assets/images/home/01_isaosa_img_home_productos6.jpg") top right no-repeat;
  background-size: cover;
}
/* line 264, ../sass/main.scss */
.site .home-sections {
  position: relative;
  overflow: hidden;
}
/* line 267, ../sass/main.scss */
.site .home-sections .title {
  top: 75px;
  z-index: 4;
  left: 50%;
  margin-left: -40.7%;
  color: #FFF;
  font-weight: 900;
  position: absolute;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  background: #E79542;
  font-size: 57px;
}
/* line 283, ../sass/main.scss */
.site .home-sections .content {
  z-index: 2;
  width: 70%;
  float: right;
  padding: 20px;
  position: relative;
  background: #E79542;
}
/* line 290, ../sass/main.scss */
.site .home-sections .content .grid {
  overflow: hidden;
}
/* line 292, ../sass/main.scss */
.site .home-sections .content .grid .element {
  width: 50%;
  padding: 20px;
  float: left;
}
/* line 297, ../sass/main.scss */
.site .home-sections .content .grid .element .icon img {
  height: 85.5px;
  margin-bottom: 15px;
}
/* line 302, ../sass/main.scss */
.site .home-sections .content .grid .element h3 {
  margin: 0;
  color: #fff;
  font-weight: 900;
  line-height: 120%;
  font-family: "Muli", sans-serif;
  font-size: 34.5px;
}
/* line 310, ../sass/main.scss */
.site .home-sections .content .grid .element .line {
  height: 2px;
  width: 100px;
  margin: 15px 0;
  background: #FFF;
}
/* line 316, ../sass/main.scss */
.site .home-sections .content .grid .element p {
  color: #fff;
}
/* line 319, ../sass/main.scss */
.site .home-sections .content .grid .element a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #FFF;
}
/* line 324, ../sass/main.scss */
.site .home-sections .content .grid .element a span {
  opacity: 0;
  color: #3B3F48;
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
/* line 333, ../sass/main.scss */
.site .home-sections .content .grid .element a img {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
}
/* line 339, ../sass/main.scss */
.site .home-sections .content .grid .element a:hover span {
  opacity: 1;
}
/* line 344, ../sass/main.scss */
.site .home-sections .content .grid .element:nth-of-type(1), .site .home-sections .content .grid .element:nth-of-type(3) {
  border-right: 2px solid #FFF;
}
/* line 347, ../sass/main.scss */
.site .home-sections .content .grid .element:nth-of-type(1), .site .home-sections .content .grid .element:nth-of-type(2) {
  border-bottom: 2px solid #FFF;
}
/* line 352, ../sass/main.scss */
.site .home-sections .content:before {
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  right: -100%;
  position: absolute;
  background: #E79542;
}
/* line 362, ../sass/main.scss */
.site .home-sections .alt-image {
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  background: url("/assets/images/home/02_isaosa_img_home_servicios.jpg") top left no-repeat;
  background-size: cover;
}
/* line 375, ../sass/main.scss */
.site .home-locations .relative .head {
  font-size: 0;
  padding: 50px 0 20px;
}
/* line 378, ../sass/main.scss */
.site .home-locations .relative .head .title {
  font-weight: 900;
  line-height: 100%;
  text-align: right;
  font-family: "Muli", sans-serif;
  display: inline-block;
  vertical-align: top;
  color: #E79542;
  text-transform: uppercase;
  font-size: 58.5px;
}
/* line 389, ../sass/main.scss */
.site .home-locations .relative .head .pipe {
  width: 2px;
  height: 170px;
  margin: 0 45px;
  display: inline-block;
  vertical-align: middle;
  background: #E79542;
}
/* line 397, ../sass/main.scss */
.site .home-locations .relative .head .ul-locations {
  display: inline-block;
  vertical-align: middle;
}
/* line 400, ../sass/main.scss */
.site .home-locations .relative .head .ul-locations li {
  padding: 10px 80px 10px 0;
  font-weight: 900;
  color: #3B3F48;
  position: relative;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}
/* line 409, ../sass/main.scss */
.site .home-locations .relative .head .ul-locations li span {
  z-index: 2;
  background: #FFF;
  position: relative;
  padding: 0 10px 0 0;
}
/* line 416, ../sass/main.scss */
.site .home-locations .relative .head .ul-locations li.active:after {
  left: 0;
  top: 50%;
  right: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #E79542;
}
/* line 430, ../sass/main.scss */
.site .home-locations .relative .head .resume-block {
  padding: 25px 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  border: 2px solid #E79542;
}
/* line 436, ../sass/main.scss */
.site .home-locations .relative .head .resume-block p {
  margin: 15px;
}
/* line 438, ../sass/main.scss */
.site .home-locations .relative .head .resume-block p:first-of-type {
  margin-top: 0;
}
/* line 441, ../sass/main.scss */
.site .home-locations .relative .head .resume-block p:last-of-type {
  margin-bottom: 0;
}
/* line 448, ../sass/main.scss */
.site .home-locations .relative .body #map {
  height: 400px;
  width: 100%;
}
/* line 455, ../sass/main.scss */
.site .home-news {
  border-top: 2px solid #E79542;
  background: #E6E6E6;
}
/* line 458, ../sass/main.scss */
.site .home-news .head {
  position: relative;
  text-align: center;
  padding: 80px 0 30px;
}
/* line 462, ../sass/main.scss */
.site .home-news .head h3 {
  font-weight: 900;
  padding: 15px 35px;
  font-family: "Muli", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 58.5px;
  border: 2px solid #E79542;
}
/* line 470, ../sass/main.scss */
.site .home-news .head h3:after {
  top: 0;
  left: 50%;
  width: 1px;
  content: '';
  height: 80px;
  position: absolute;
  background: #E79542;
}
/* line 481, ../sass/main.scss */
.site .home-news .image-circle {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;
  width: 310.5px;
  height: 310.5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: center center no-repeat;
  background-size: cover;
}
/* line 491, ../sass/main.scss */
.site .home-news .image-circle .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}
/* line 501, ../sass/main.scss */
.site .home-news .image-circle .overlay a {
  top: 50%;
  opacity: 0;
  color: #FFF;
  padding: 4%;
  margin-top: 9%;
  display: block;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  position: relative;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  font-size: 22.5px;
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* line 520, ../sass/main.scss */
.site .home-news .image-circle:hover .overlay {
  background: rgba(0, 0, 0, 0.65);
}
/* line 522, ../sass/main.scss */
.site .home-news .image-circle:hover .overlay a {
  opacity: 1;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 529, ../sass/main.scss */
.site .home-news .line {
  left: 0;
  right: 0;
  top: 60%;
  width: 1px;
  z-index: 3;
  margin: auto;
  height: 80px;
  position: absolute;
  background: #E79542;
}
/* line 540, ../sass/main.scss */
.site .home-news h4 {
  margin: 100px auto 0;
  display: block;
  max-width: 250px;
  font-weight: 700;
  text-align: center;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  font-size: 33px;
}
/* line 550, ../sass/main.scss */
.site .home-news .cta {
  padding: 80px 0;
  text-align: center;
}
/* line 553, ../sass/main.scss */
.site .home-news .cta a {
  color: #FFF;
  font-weight: 700;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  display: inline-block;
  background: #3B3F48;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 21px;
}
/* line 567, ../sass/main.scss */
.site .home-about_us {
  position: relative;
  border-top: 2px solid #E79542;
  padding: 100px 0 50px;
}
/* line 571, ../sass/main.scss */
.site .home-about_us .title {
  z-index: 4;
  position: relative;
  font-weight: 900;
  font-family: "Muli", sans-serif;
  color: #5EAD5E;
  text-transform: uppercase;
  font-size: 58.5px;
}
/* line 579, ../sass/main.scss */
.site .home-about_us .title:before, .site .home-about_us .title:after {
  top: 0;
  z-index: 4;
  width: 2px;
  left: 100px;
  content: '';
  height: 80px;
  position: absolute;
  background: #E79542;
}
/* line 589, ../sass/main.scss */
.site .home-about_us .title:before {
  margin-top: -100px;
}
/* line 592, ../sass/main.scss */
.site .home-about_us .title:after {
  margin-top: 80px;
  height: 50px;
}
/* line 597, ../sass/main.scss */
.site .home-about_us .image {
  top: 100px;
  width: 30%;
  bottom: 0;
  position: absolute;
  background: center center no-repeat;
  background-size: cover;
}
/* line 605, ../sass/main.scss */
.site .home-about_us .text {
  width: 80%;
  padding: 100px 0 50px 35%;
}
/* line 608, ../sass/main.scss */
.site .home-about_us .text .text-title {
  color: #000;
  font-weight: 900;
  margin-bottom: 50px;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
/* line 616, ../sass/main.scss */
.site .home-about_us .text p {
  line-height: 150%;
  color: #3B3F48;
  font-size: 21px;
}
/* line 621, ../sass/main.scss */
.site .home-about_us .text .cta {
  text-align: right;
  margin-top: 20px;
}
/* line 624, ../sass/main.scss */
.site .home-about_us .text .cta a {
  text-decoration: none;
  color: #5EAD5E;
}
/* line 628, ../sass/main.scss */
.site .home-about_us .text .cta span {
  font-weight: 900;
  font-family: "Muli", sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 635, ../sass/main.scss */
.site .home-about_us .text .cta span.circle {
  overflow: hidden;
  margin-left: 5px;
  text-align: center;
  background: #5EAD5E;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 643, ../sass/main.scss */
.site .home-about_us .text .cta span.circle img {
  width: 100%;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 652, ../sass/main.scss */
.site .home-contact {
  background: #E6E6E6;
}
/* line 654, ../sass/main.scss */
.site .home-contact .container {
  padding: 40px 0 80px;
  background: url("/assets/images/home/04_isaosa_img_home_contacto.png") center right no-repeat;
  background-size: auto 80%;
}
/* line 659, ../sass/main.scss */
.site .home-contact h4 {
  text-align: center;
}
/* line 661, ../sass/main.scss */
.site .home-contact h4 span {
  z-index: 4;
  margin: 0 auto;
  padding: 40px 0;
  font-weight: 900;
  position: relative;
  text-align: center;
  color: #3B3F48;
  font-family: "Muli", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 58.5px;
}
/* line 673, ../sass/main.scss */
.site .home-contact h4 span:after {
  left: 0;
  bottom: 20px;
  content: '';
  height: 2px;
  width: 150px;
  position: absolute;
  background: #3B3F48;
}
/* line 685, ../sass/main.scss */
.site .home-contact form {
  width: 100%;
  padding-top: 20px;
}
/* line 688, ../sass/main.scss */
.site .home-contact form a {
  display: block;
  line-height: 130%;
  color: #3B3F48;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 21px;
}
/* line 696, ../sass/main.scss */
.site .home-contact form .line {
  content: '';
  height: 2px;
  width: 50px;
  margin: 10px 0 17px;
  background: #3B3F48;
}
/* line 703, ../sass/main.scss */
.site .home-contact form input {
  border: 0;
  width: 100%;
  padding: 5px 10px;
  font-style: italic;
  margin-bottom: 30px;
  background: transparent;
  font-size: 21px;
  border-bottom: 2px solid #3B3F48;
}
/* line 713, ../sass/main.scss */
.site .home-contact form textarea {
  width: 100%;
  height: 137px;
  margin-top: 16px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 2px solid #3B3F48;
  background: rgba(255, 255, 255, 0.8);
}

/* line 726, ../sass/main.scss */
.margin-botom-0 {
  margin-bottom: 0px !important;
}

/* line 729, ../sass/main.scss */
.margin-botom-10 {
  margin-bottom: 10px !important;
}
